APP_NAME=AutoHelp
APP_ENV=dev
LOG_LEVEL=INFO

BOT_TOKEN=replace_me
DISPATCHER_CHAT_ID=-1000000000000
ADMIN_CHAT_ID=-1000000000000

DATABASE_URL=sqlite+aiosqlite:///./autohelp_local.db
USE_REDIS=false
AUTO_CREATE_SCHEMA=true

API_HOST=0.0.0.0
API_PORT=8000
TIMEZONE=Asia/Tashkent
DEPENDENCY_WAIT_ATTEMPTS=30
DEPENDENCY_WAIT_DELAY_SECONDS=2
